.navbar-brand {
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  width: 95%;
}


.input-icon {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.input-with-icon {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
